*.ini
*.rar
*.o
*.log
*.hex
*.elf
ytx-manager/build-ytxTesterApp-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
notes.txt
ytx-Manager/loader/loader.pro.user
Debug/
controllers/
.vs/
bootloader/sam-ba-ytx/build