*.ini
*.rar
*.o
*.log
*.hex
*.elf
bootloader/bootloaderYTX/Bootloader/bootloaderYTX/jlink.log
notes.txt
Debug/
controllers/
.vs/
bootloader/sam-ba-ytx/build
hardware-def/yaeltex/samd/bootloaders/sparkfun-samd21-dev/FLASH.bin
ytx-manager/build-loader-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
ytx-manager/loader/loader.pro.user.ff99e09.22
ytx-controller/ytx-controller.ino.kilomux-test.bin
SAMD11-NeoPixel-R03/SAMD11-NeoPixel/src/main-ack.c
SAMD11-NeoPixel-R03/SAMD11-NeoPixel/src/ytxHeader-ack.h
binaries/ytx-controller.ino.kilomux.bin
ytx-controller/*.bin
ytx-controller/CppProperties.json
binaries/v016.bin